<section class='flex flex-col gap-8 lg:flex-row lg:gap-24'>
  <div class='flex-1 space-y-4 text-white'>
    {% if include.heading == 'h2' %}
      <h2 class='text-h2' data-appear>{{ include.title_key | t }}</h2>
    {% else %}
      <h3 class='text-h3' data-appear>{{ include.title_key | t }}</h3>
    {% endif %}
    <p data-appear data-delay='100'>{{ include.description_key | t }}</p>
  </div>
  <div class='group w-full max-w-[600px] self-end overflow-hidden rounded-lg bg-neutral-100/90 shadow-2xl backdrop-blur lg:flex-1 lg:self-stretch'>
    <div class='flex w-full select-none items-center gap-2 bg-neutral-100/50 p-2'>
      <span class='size-3 rounded-full bg-neutral-500/50 group-hover:bg-terminal-red'>&nbsp;</span
      ><span class='size-3 rounded-full bg-neutral-500/50 group-hover:bg-terminal-yellow'>&nbsp;</span
      ><span class='size-3 rounded-full bg-neutral-500/50 group-hover:bg-terminal-green'>&nbsp;</span>
    </div>
    <div
      class='flex flex-col p-2 pr-6 text-left font-mono text-[13px] font-medium text-neutral-700'
      data-terminal
    >
      {% if include.index == 1 %}
        <div class='flex flex-col' data-terminal-entry>
          <code
            ><span class='inline-block min-w-4 select-none font-bold text-deploio' data-terminal-prompt>$</span
            ><span data-terminal-command>git push origin main</span></code
          >
          <code class='mb-2 ml-4 mt-2 inline-block select-none font-bold' data-terminal-result>🪄</code>
        </div>
        <div class='flex flex-col' data-terminal-entry>
          <code
            ><span class='inline-block min-w-4 select-none font-bold text-deploio' data-terminal-prompt>$</span
            ><span data-terminal-command>curl -I https://deine-plattform.ch/up</span></code
          >
          <code class='mb-2 ml-4 mt-2 inline-block select-none font-bold' data-terminal-result>HTTP/2 200</code>
        </div>
      {% elsif include.index == 2 %}
        <div class='flex flex-col' data-terminal-entry>
          <code
            ><span class='inline-block min-w-4 select-none font-bold text-deploio' data-terminal-prompt>$</span
            ><span data-terminal-command>curl -s https://ipinfo.io/178.209.32.0 | jq .country</span></code
          >
          <code class='mb-2 ml-4 mt-2 inline-block select-none font-bold' data-terminal-result>&quot;CH&quot;</code>
        </div>
      {% else %}
        <div class='flex flex-col' data-terminal-entry>
          <code
            ><span class='inline-block min-w-4 select-none font-bold text-deploio' data-terminal-prompt>$</span
            ><span data-terminal-command>whois deploio.ch</span></code
          >
          <code class='mb-2 ml-4 mt-2 inline-block select-none font-bold' data-terminal-result
            >Nine Internet Solutions AG<br>
            owned by Tom, Tim and 9 more employees<br>
            AS29691<br>
            Rechenzentren NTS AG, NTT AG (Zürich)</code
          >
        </div>
      {% endif %}
    </div>
  </div>
</section>
