<div class='fixed bottom-0 left-0 z-20 w-full'>
  <button
    class='absolute bottom-full right-10 bg-white p-1'
    data-news-toggle
    aria-controls='news-banner'
    aria-expanded='false'
  >
    <img class='hidden size-8' src='/assets/images/icons/close_lg.svg' alt='Close news banner' data-banner-close>
    <img class='size-8' src='/assets/images/icons/chevron_lg.svg' alt='Open news banner' data-banner-open>
  </button>
  <div class='hidden bg-white' data-news-banner>
    <div id='news-banner' class='container flex flex-wrap items-center gap-y-1 !py-4 font-mono text-xl'>
      <span class='me-10 font-medium text-news'>{% t news_question %}</span>
      <span class='me-5'>{% t news_cta %}</span>
      <a
        href='https://github.com/ninech/deploio-skills'
        target='_blank'
        class='flex items-center text-link'
      >
        {% t news_link -%}
        <img src='/assets/images/icons/call_made_lg.svg' class='ml-1 size-8' alt='External link'>
      </a>
    </div>
  </div>
</div>
