{% assign story = site.data.success_stories[page.story] -%}
<main class='relative z-0'>
  <div class='relative h-[800px] max-sm:h-[700px]'>
    <div class='pointer-events-none absolute h-full w-full select-none max-sm:max-h-[450px]'>
      <img
        aria-hidden='true'
        loading='lazy'
        class='absolute h-full min-w-full object-cover object-top'
        src='/assets/images/backgrounds/{{ story.hero_image }}'
        alt=''
      >
      <div class='relative h-full w-full bg-gradient-to-t from-deploio'>&nbsp;</div>
    </div>
    <section class='container relative flex h-full flex-col justify-end pb-16 text-deploio'>
      <div class='relative flex h-full w-full flex-col justify-end text-white'>
        <div class='mb-8'>
          <h1 class='text-h1 mb-4 max-w-[450px] md:max-w-[800px]' data-appear>{{ story.title_key | t }}</h1>
          <p class='mb-10 max-w-[800px] text-[20px]' data-appear data-delay='100'>
            {{ story.long_description_key | t }}
          </p>
          <div class='mb-3 flex flex-wrap gap-2 md:gap-6' data-appear data-delay='200'>
            <div>
              <span>CLIENT</span>
              <p class='opacity-80'>{{ story.client }}</p>
            </div>
            <div>
              <span>WEBSITE</span>
              <p class='opacity-80'>
                {% assign website_url = story.website | prepend: 'https://' -%}
                {%- include link.html href=website_url text=story.website %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class='relative overflow-x-clip bg-deploio pb-16 pt-20'>
    <img
      src='/assets/images/deploio_wave.svg'
      alt='abstract waves background'
      class='pointer-events-none absolute left-0 right-0 top-0 z-0 w-full -rotate-6 scale-[3] opacity-5 sm:scale-[2] md:scale-[1.25]'
    >
    <div class='container relative z-10 grid grid-cols-12 gap-y-12 lg:gap-x-12'>
      <aside class='col-span-12 flex flex-col gap-5 lg:col-span-5'>
        {% case story.main.aside.type -%}
          {%- when 'messages' -%}
            {%- for message in story.main.aside.items %}
              {% include slack-message.html avatar=message.avatar name_key=message.name_key date_key=message.date_key text_key=message.text_key delay=message.delay link_nine=message.link_nine %}
            {% endfor -%}
          {%- when 'testimonial' -%}
            {%- assign quote = story.main.aside -%}
            {%- include testimonial.html text_key=quote.text_key avatar=quote.avatar name_key=quote.name_key role_key=quote.role_key delay=quote.delay -%}
        {%- endcase %}
      </aside>
      <div class='col-span-12 space-y-10 text-white lg:col-span-7'>
        {% for section in story.main.sections -%}
          {%- assign title_delay = forloop.index | times: 200 | minus: 100 -%}
          {%- assign text_delay = forloop.index | times: 200 -%}
          <section data-appear data-delay='{{ title_delay }}'>
            <h2 class='text-h3 pb-4'>{{ section.title_key | t }}</h2>
            <p data-appear data-delay='{{ text_delay }}'>{{ section.text_key | t }}</p>
          </section>
        {%- endfor %}
      </div>
    </div>
  </section>

  <img
    src='/assets/images/backgrounds/mountain_vector_dark.svg'
    alt='mountain vector background'
    class='pointer-events-none -my-px w-full bg-deploio'
  >
  <section class='bg-background'>
    <div class='container grid grid-cols-12 gap-y-12 lg:gap-x-12'>
      <div class='relative z-10 col-span-12 text-deploio {% if story.note.quote %}xl:col-span-7{% else %}xl:col-span-9 xl:col-start-2{% endif %}'>
        <h2 class='text-h2 mb-5 mt-8 md:mt-0 xl:w-[90%]' data-appear data-delay='50'>
          {{ story.note.title_key | t }}
        </h2>
        <p class='text-[20px] font-normal' data-appear data-delay='100'>{{ story.note.text_key | t }}</p>
      </div>
      {% if story.note.quote -%}
        {%- assign quote = story.note.quote -%}
        <div class='col-span-12 xl:col-span-4 xl:col-start-9 xl:mt-40'>
          {% include testimonial.html text_key=quote.text_key avatar=quote.avatar name=quote.name role=quote.role delay=300 %}
        </div>
      {%- endif %}
    </div>
  </section>
  {% include register.html %}
</main>
