@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }
  }
}

html,
body {
  @apply min-w-[320px] bg-deploio;
}

.container {
  @apply mx-auto max-w-7xl p-4 md:p-16;
}

.team-container {
  @apply mx-auto max-w-7xl p-2 md:p-6;
}

.text-h1 {
  @apply text-[40px] font-medium uppercase leading-[110%] tracking-[0.02em] md:text-[57px];
}

.text-h2 {
  @apply text-[32px] font-normal uppercase leading-[117%] tracking-[0.02em] md:text-[40px];
}

.text-h3 {
  @apply text-[24px] font-normal uppercase leading-[117%] tracking-[0.02em] md:text-[24px];
}

.text-h4 {
  @apply text-[20px] font-medium uppercase leading-[117%] tracking-[0.02em] md:text-[24px];
}

.text-h5 {
  @apply text-[16px] font-medium uppercase leading-[117%] tracking-[0.02em] md:text-[20px];
}

.text-p {
  @apply text-[14px] font-normal leading-[117%] tracking-[0.02em] md:text-[16px];
}

.appear-from {
  @apply translate-y-10 opacity-0 transition duration-500 motion-reduce:transition-none;
}

.appear-to {
  @apply translate-y-0 opacity-100;
}

@keyframes typing {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes echo {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hold {
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}
