<main>
  <div class='relative h-[600px]'>
    <div class='pointer-events-none absolute h-full w-full select-none'>
      <video
        aria-hidden='true'
        class='pointer-events-none absolute h-full min-w-full object-cover object-top'
        autoplay
        muted
        loop
        playsinline
      >
        <source src='/assets/images/backgrounds/deploio_video.mp4' type='video/mp4'>
      </video>
      <div class='relative h-full w-full bg-gradient-to-t from-background via-80% to-transparent'>&nbsp;</div>
    </div>
    <section class='team-container relative flex h-full flex-col justify-end space-y-6 pb-16 text-deploio'>
      <h1 class='max-w-[600px] text-5xl text-[46px] font-medium uppercase leading-[50px]' data-appear>
        {% t team_title %}
      </h1>
      <p class='max-w-[600px] text-lg' data-appear data-delay='100'>{% t team_description %}</p>
    </section>
  </div>
  <div class='bg-background'>
    <div class='team-container my-0 !pb-32 !pt-16 md:!pt-40'>
      <section>
        <div class='grid grid-cols-1 justify-items-center gap-8 gap-y-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'>
          {% for member in site.data.team %}
            <div class='flex h-[305px] w-[281.75px] flex-col items-stretch border-t-2 border-deploio bg-team shadow-md duration-300 hover:-translate-y-2 hover:shadow-xl'>
              <div class='flex h-[93px] w-full flex-col items-start justify-start ps-6 pt-5'>
                <div class='text-h5 text-deploio'>{{ member.name }}</div>
                <div class='text-p mt-3 text-deploio'>
                  {% if page.lang == 'de' %}{{ member.role_de }}{% else %}{{ member.role }}{% endif %}
                </div>
              </div>
              <div class='relative flex w-full flex-1 items-end justify-center overflow-hidden'>
                <img
                  src='/assets/images/team/{{ member.image }}'
                  alt='{{ member.name }}'
                  loading='lazy'
                  class='z-10 h-[200px] object-cover'

                ><img
                  src='/assets/images/backgrounds/team_mountain_vector_{% cycle '1', '2', '3' %}.svg'
                  alt='mountain vector'
                  class='absolute z-0 w-full'
                >
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</main>
