@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  @apply min-w-[320px] bg-deploio;
}

.container {
  @apply mx-auto max-w-7xl p-4 md:p-16;
}

.text-h1 {
  @apply text-[40px] font-medium uppercase leading-[110%] tracking-[0.02em] md:text-[57px];
}

.text-h2 {
  @apply text-[24px] font-normal uppercase leading-[117%] tracking-[0.02em] md:text-[40px];
}

.text-h3 {
  @apply text-[24px] font-medium uppercase leading-[117%] tracking-[0.02em] md:text-[24px];
}

.appear-from {
  @apply translate-y-10 opacity-0 transition duration-500 motion-reduce:transition-none;
}

.appear-to {
  @apply translate-y-0 opacity-100;
}

@keyframes typing {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes echo {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hold {
}
