@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  @apply min-w-[320px] bg-deploio;
}

.container {
  @apply mx-auto max-w-7xl p-6 md:p-16;
}

.text-h1 {
  @apply font-medium text-[40px] md:text-[57px] leading-[110%] tracking-[0.02em] uppercase;
}

.text-h2 {
  @apply font-normal text-[24px] md:text-[40px] leading-[117%] tracking-[0.02em] uppercase;
}

.text-h3 {
  @apply font-medium text-[24px] md:text-[24px] leading-[117%] tracking-[0.02em] uppercase;
}

.appear-from {
  @apply translate-y-10 opacity-0 transition duration-500 motion-reduce:transition-none;
}

.appear-to {
  @apply translate-y-0 opacity-100;
}

@keyframes typing {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes echo {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hold {
}
